<%- include("../includes/header") %>
    <style>
        .container-fluid {
            background: #00B4DB;
            background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
            background: linear-gradient(to right, #0083B0, #00B4DB);
        }
    </style>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-11 col-md-8 col-lg-4">
                <div class="card bg-white border-0 shadow rounded p-3">
                    <div class="card-header bg-white border-0">
                        <img src="/images/reset_password.svg" alt="Password reset icon" width="125px" class="mx-auto d-block">
                        <h2 class="text-muted text-center mt-3">
                            <strong>Nueva contraseña.</strong>
                        </h2>
                    </div>
                    <div class="card-body bg-white">
                        <form action="/api/v1/auth/password/reset" method="POST">
                            <input type="hidden" name="token" value="<%= token %>">
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" class="form-control my-2 <%= message.length ? 'is-invalid' : null %>" autofocus>
                                <small class="form-text <%= message.length ? 'invalid-feedback' : 'text-muted' %>"><%= message.length ? message : "Escriba su contraseña" %></small>
                            </div>
                            <button class="btn btn-primary px-3 py-2 mt-4 w-100">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../includes/footer") %>
